@media (max-width: 768px){
    .socials{
        float: left !important;  
    }
    .socials .nav{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .socials ul li:first-child{
        padding-left: 0px;
    }
}

@media (min-width: 768px){
    .socials{
        margin-top: 32px;
    }    
    .socials ul li:last-child{
        padding-right: 0px;
    }
}

.socials .fa{  
    font-size: 18px;     
}

.socials ul li{
    padding: 0 10px;
}

.socials ul li a{
    padding: 0;
    color: #d3d3d3;
    outline: 0;
}

.socials ul li a:hover, .socials ul li a:focus{
    background: white;
}

.socials ul li a:hover .fa-facebook, .socials ul li a:hover .fa-linkedin{
    color: #0884d5;
}

.socials ul li a:hover .fa-google-plus{
    color: #D64136;
}

.socials ul li a:hover .fa-dribbble{
    color: #B2215A;
}

.socials ul li a:hover .fa-twitter{
    color: #55ACEE;
}