#footer{
    position: relative;
    margin-top: 80px;
    padding-bottom: 10px;
    background-image: url(footer.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
}


.footer .footer-separator{
    margin-bottom: 50px;
}

.footer-copyright{
    color: white;
    margin-top: 200px;
    margin-bottom: 50px;
}

#footer-form-btn-submit{
    width: 100%;
    text-transform: uppercase;
    background-color: #4fcccd;
    color: white;
    letter-spacing: 5px;
    border-bottom: 3px solid #2f9697;
}

#footer-form-btn-submit:hover{
    background-color: #72D6D7;
    border-bottom: 3px solid #58ABAB;
}

@media (max-width: 768px){
    .footer-copyright{
        color: #686868 ;
    }
}

#themeum-ref:hover{
    text-decoration: none;
}

.footer h3{
    font-size: 18px;
}

.footer a{
    color: #EB3F27;
}

.footer blockquote{
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.footer blockquote:after{
    position: absolute;
    right: 20px;
    bottom: 0px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    line-height: 0;
}

.footer blockquote:before{
    position: absolute;
    left: 5px;
    top: 8px;
    content: '"';
    font-size: 40px;
    color: #ea2c00;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    line-height: 0;
}